# Jupyter Notebooks
*.ipynb

# Environment variables
.env
env/

# Virtual environment
.venv/
.venvChat/


# Notes
Pampellone Chatbot development  Notes.md
*.md
*.txt
!requirements.txt
!runtime.txt

# Python cache (good to ignore too)
__pycache__/
*.pyc

# Chroma vector DB (if you don't want to push it)
# chroma_db/