# Jupyter Notebooks
*.ipynb

# Environment variables
.env

# Virtual environment
.venv/
.venvChat/
env/

# Notes
Pampellone Chatbot development.txt
*.txt
!requirements.txt

# Python cache (good to ignore too)
__pycache__/
*.pyc

# Chroma vector DB (if you don't want to push it)
chroma_db/